@keyframes swing {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.animate-swing {
  animation-name: swing;
  animation-duration: 200ms;
  animation-timing-function: linear;
}

